__pycache__
ignored

build/
dist/
*.egg-info/

.vscode/
.idea/
.DS_Store

.venv/
venv/
nul
pyJianYingDraftServer/.file_versions/
pyjianyingdraft-web/temp_extract/
pyjianyingdraft-web/dist/
downloads/
